name: Beats2Build build

on:
  push:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.9

    - name: Install requirements
      shell: bash -l {0}
      run: |
        sudo apt update
        sudo apt install ffmpeg
        conda install -c conda-forge wxpython
        pip3 install -r requirements.txt

    - name: Cache testdata
      uses: actions/cache@v3
      id: cache-testdata
      with:
        key: cache-testdata
        restore-keys: cache-testdata
        path: .github/test/data

    - name: Preparing test data
      if: steps.cache-testdata.outputs.cache-hit != 'true'
      shell: bash -l {0}
      run: |
        cd .github/test
        /bin/bash testdata.sh

    - name: Running tests
      shell: bash -l {0}
      run: |
        cd ${{ github.workspace }}
        mkdir ${{ github.workspace }}/out
        python Beats2Fun.py ".github/test/1631947 KUMOKIRI - Shippuujinrai.osz" .github/test/data ${{ github.workspace }}/out -debug -beatbar
        python Beats2Fun.py ".github/test/data/Stamina Alley Part 1/Powerflux" .github/test/data ${{ github.workspace }}/out -debug -beatbar

    - uses: actions/upload-artifact@v2
      with:
        name: Test1.mp4
        path: ./out/YZYX - Powerflux.mp4
    - uses: actions/upload-artifact@v2
      with:
        name: Test2.mp4
        path: ./out/KUMOKIRI - Shippuujinrai.mp4

  build:

    runs-on: windows-latest
    needs: test

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt pyinstaller wxPython

    - name: Building using pyinstaller
      run: |
        copy .github\Beats2Fun.spec .
        pyinstaller --noconfirm Beats2Fun.spec

    - name: Archive Windows build
      shell: pwsh
      run: |
        $destination = "Beats2Fun-windows-x64.zip"
        if (Test-Path $destination) { Remove-Item $destination }
        Compress-Archive -Path "dist/Beats2Fun/*" -DestinationPath $destination

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Beats2Fun-windows-x64
        path: Beats2Fun-windows-x64.zip

    - name: Upload release asset
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v1
      with:
        files: Beats2Fun-windows-x64.zip
